.TimerContainer {
  padding: 5px;
  flex: 1;
  display: flex;
  align-items: center;
}

.TimerDisplay {
  font-family: monaco, monospace;
  font-size: 2.5em;
  color: var(--colorAccent);
  transition: 0.5s;
}

.Buttons {
  width: 100%;
  max-width: 480px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-around;
}
