* {
  margin: 0 auto;
  box-sizing: border-box;
}

:root {
  --colorPrimaryBackground: #282c34;
  --colorAccent: #c678dd;
  --colorDarkText: #151515;
  --colorLightText: #e1e1e1;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  background-color: var(--colorPrimaryBackground);
  color: var(--colorLightText);
  letter-spacing: 0.25px;
}
